#MyPost {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.post {
    width: 32.5%;
    min-width: 80px;
    margin: 2px 2px;
    height: 200px;
    text-align: left;
}

.post button {
    all : unset;
}

@media (max-width: 798px) {
    .post {
        width: 47%;
    }
  }