#Upload {
    margin-top: 85px;
    margin-bottom: 30px;
}

#Upload img {
    width: 300px;
}

#image_container {
    margin-top: 20px;
}

#Upload > div {
    margin: 0 auto;
}

#Upload form {
    margin-bottom: 20px;
}